<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.astate.cs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.astate.cs.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.astate.cs.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.PlayOptions"
            android:label="@string/title_activity_play_options"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.Info"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.Instructions"
            android:label="@string/title_activity_instructions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.Options"
            android:label="@string/title_activity_options"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.Disclaimer"
            android:label="@string/title_activity_disclaimer"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="edu.astate.cs.MusicService"
            android:enabled="true" >
        </service>

        <activity
            android:name="edu.astate.cs.Challenge"
            android:label="@string/title_activity_challenge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.TimeBomb"
            android:label="@string/title_activity_time_bomb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.FreePlay"
            android:label="@string/title_activity_free_play"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.astate.cs.ViewScores"
            android:label="@string/title_activity_view_scores"
            android:parentActivityName="edu.astate.cs.Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.astate.cs.Home" />
        </activity>
        <activity
            android:name="edu.astate.cs.Start"
            android:label="@string/title_activity_start"
             >
        </activity>
    </application>

</manifest>
